{% extends "blog/base.html" %}
{% block content %}
        <h1> <font color = "#ffffff">ABOUT Cue</font></h1>
        <h2> <font color = "#fffff0">Cue is what’s happening in the world and what people are talking about right now.</font></h2>
        <h3> <font color = "#fffff0">Cue is something thing said or done that serves as a signal to someone to enter or to begin their speech or performance.</font></h3>
        <h3> <font color = "#fffff0">So it's <a href="{% url 'blog-home' %}">here's</a> your cue to write something that is in your mind </font></h3>
{% endblock content %}

