{% load static %}

<!DOCTYPE html>
<html>
<head>
       
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href = "{% static 'blog/main.css' %}">
    {% if title %}
        <title> Cue - {{ title }} </title> 
    {% else %}
        <title> Cue </title> 
    {% endif %}    
</head>

<body style="background-color:#fff">
        <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                  <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Cue</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                      <div class="navbar-nav mr-auto">     
                        <a class="nav-item nav-link" href="{% url 'blog-home' %}"><img width = "27" height = "28" src = "{% static 'blog/home.png' %}"> Home</a>
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}"><img width = "27" height = "28" src = "{% static 'blog/about.png' %}"> About</a>  
                    </div>


                      <!-- Navbar Right Side -->
                      <div class="navbar-nav">
                      {% if user.is_authenticated %}
                      <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}"> <img width = "30" height = "30" src = "{% static 'blog/login.png' %}"></a>
                        <a class="nav-item nav-link" href="{% url 'register' %}"> <img width = "20" height = "20" src = "{% static 'blog/register.png' %}"></a>
                      {% endif %}
                      </div>
                    </div>
                  </div>
                </nav>                

        </header>
            <main role="main" class="container">
                    <div class="row">
                      <div class="col-md-8">
                          {% if messages %}
                            {% for message in messages %}
                              <div class = "alert alert-{{ message.tags }}"> 
                                  {{ message }}
                              </div>
                            {% endfor %}
                          {% endif %}
                          {% block content %}{% endblock %}
                      </div>

                      <div>
                          <div class="content-section">
                            <h3><font color='04040f'>Additional Links</font></h3>
                            <p class='text-muted small'>links to browse through this website </p>
                              <ul>
                                <li class=""><a class="nav-item nav-link" href="{% url 'latest-posts' %}">Latest Posts</a></li>
                                <li class=""><a class="nav-item nav-link" href="{% url 'blog-announcemnet' %}">Announcements</a></li>
                                <li class=""><a class="nav-item nav-link" href="{% url 'archives' %}">Archives</a></li>
                                <li class=""><a class="nav-item nav-link" href="{% url 'allusers' %}">Accounts</a></li>
                              </ul>
                            </p>
                          </div>
                          <p>
                            <div>
                              <form method="GET" action="{% url 'search' %}">
                                <input style="background-color: #effff3;width=30px;" id="searchbox" class = "form-control" name="q" type="text" placeholder="Search Posts"/><br><center><input type="image" src="{% static 'blog/search.png' %}" alt="Submit" width="48" height="48"/></center>
                              </form>
                            </div>
                          </p>
                      </div>
                
                      
                   </div>

            </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>