{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
    
      <img class = "rounded-circle article-img" src = "{{ post.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                 <a class="mr-2" href="#">{{ object.author }}</a>
                 <small class="text-muted">{{ object.date_posted |date:"F d, Y"}}</small>
            {% if object.author == user %}
               <div>
                   <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update</a>
                   <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete</a>
                </div>
            {% endif %} 
            </div>
        
              <h2 class="article-title" href="#">{{ object.title }}</h2>
              <img class = "img-fluid" src = "{{ post.image_url|default_if_none:'' }}">
              <p class="article-content">{{ object.content }}</p>
  
            
    </article>
  
    <hr>
                <a class="btn" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            {% for comment in post.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
        
                <div class="comment">
                    <div class="date">
                        <font color = "#2eec2c">{{ comment.created_date }}</font>
                        {% if comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"> Remove <span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"> Approve <span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    </div>
                    <strong><font color = "#eeeccc"> {{ comment.author }}</font></strong>
                    <p><font color = "#2eeccc"> {{ comment.text|linebreaks }} </font> </p>
                </div>
        
                {% endif %}

            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        
{% endblock content %}


