{% extends "blog/base.html" %}
{% block content %}


    <ul>
        {% for date in date_list %}
            <li>{{ date|date }}</li>
        {% endfor %}
    </ul>
    
    <ul class="link_list">
            {% for month in date_list %}
                <li>
                  <a href="{% url blog_archive_month month|date:'Y' month|date:'m' %}" title="Voir les articles de {{ month|date:'F' }}">{{ month|date:"F" }}</a>
                </li>
            {% endfor %}
          </ul>
        

    {% endblock content %}

